.sign-in-and-sign-up{
    width: auto;
    display: flex;
    margin: 30px, auto;
    justify-content: space-evenly;
    align-items: center;
    
    @media(max-width: 568px){
        flex-direction: column;
     }
}