.contact-us{
    display: flex;
    flex-direction: column;
    width: 300px;

    .title{
        margin: 10px 0;
    }

    textarea {
        width:100%;
        resize: vertical;
        
    }

    
}